body {
  background-image: url("../image/background3.jpg");
  background-color: black;
  background-attachment:fixed;
  margin-bottom: 100px;
  font-family: 'MyriadPro-Regular', sans-serif;
}

@font-face{
  font-family: "MyriadPro-Regular";
  src: url('../lib/fonts/MYRIADPRO-REGULAR.OTF'),
  url('../lib/fonts/MYRIADPRO-REGULAR.OTF'); /* IE */
}


.thumbnail{
  padding:0px;
}

#customJumbo{
  background-image: url("../image/godGundamJumobotron3.jpg");
  background-size: cover;
  min-height: 512px;
  margin-top:0px;
  color: #c78636;
}

#hrSub{
  border: 0;
  height: 2px;
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.4),rgba(255, 255, 255, 0.6),rgba(0, 0, 0, 0.4));
}

#hrMain{
  border: 0;
  height: 2px;
  background-image:linear-gradient(to right, rgba(198, 131, 52, 0.4),rgba(239, 209, 137, 0.6),rgba(198, 131, 52, 0.4));
}

p{
  color:#7b7973;
}

h2{
  color: #c78636;
}

h3{
	color: silver;
  font-size:21px;
}

#contentBody{
  padding-top:5px;
  padding-bottom:5px;
}

#gunpla{
  display:absolute;
  display: inline;
  color: #c78636;
}

#gogo{
  color:green;
}

#nono{
  color:red;
}

#titleList{
  color:silver;
}
